@charset "UTF-8";
body {
      margin: 0;
      padding: 0;
      font-family: 'Pretendard', sans-serif;
      background-color: #f9f9f9;
      
}
#chkWrap {
	  display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15%;
}
#chkContainer{
	  padding: 50px 100px 100px;           
	  background-color: #ffffff;
	  box-shadow: 0 0 15px rgba(0,0,0,0.1);
	  border-radius: 10px;
	  overflow-x: auto; /* 넘치면 스크롤 생성 */
}


    #chkTitle {
      color: rgb(0, 156, 217);
      font-size: 30px;
      margin-bottom: 40px;
      font-weight: bold;
    }

    table {
      width: 100%; /* 부모 너비에 맞추기 */
  	  table-layout: fixed; /* 셀 너비 고정 */
      border-collapse: collapse;
      margin-bottom: 50px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

	table th, td{
		padding: 15px 25px;
      	font-size: 18px;
      	word-wrap: break-word; /* 셀 내 텍스트 줄바꿈 */
      	word-break: keep-all; /* 단어 단위로 줄바꿈 */
	  	white-space: normal; /* 기본 줄바꿈 허용 */
	  	overflow-wrap: break-word; /* 긴 단어가 있으면 자동 줄바꿈 */
	}
	table th{
		width: 20%;
		background-color: #f0f0f0;
		border: 1px solid rgb(255, 255, 255);
		border-left: 4px solid rgb(65, 172, 215); 
	}
    table td {
    	width: 80%;
		border: 1px solid #f0f0f0;
		
    }

    .chkBtn {
      padding: 20px 25px;
      margin: 0 5px;
      font-size: 20px;
      background-color: rgb(65, 172, 215);
      color: rgb(255, 255, 255);
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }

    .chkBtn:hover {
      background-color: white;
      color: rgb(65, 172, 215);
      border: 1px solid rgb(65, 172, 215);

    }
    .button-container{
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;
    }
	a{
	    text-decoration: none;
	}
	
	@media screen and (max-width: 1080px){
		#chkWrap{
			padding: 0 10%;
		}
		#chkContainer{
	  		padding: 50px 50px 100px;
		}
	}
	@media screen and (max-width: 480px){
		#chkWrap{
			padding: 0 ;
		}
		#chkContainer{
	  		padding: 10px;
		}
		#chkTitle {
			font-size: 25px;
		}
		h3{
			font-size: 18px;
		}
		#infoTable{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
		}
		table th, td{
			font-size: 15px;
		}
		#chkContainer {
			border-radius: 0px;
		}
		
	}
