@charset "UTF-8";
#c {
		margin-top: 50px;
        padding: 3%;
        background-color: #e4e4e4;
        font-size: 15px;
    }

    #c ul {
        list-style: none;
        padding-left: 0;
    }
    @media screen and (max-width: 480px){
    	#header {
		padding: 0 10%;
		}