@charset "UTF-8";
#header {
		padding: 0 15%;
		box-shadow: 0 10px 10px lightgrey;
		margin-bottom: 50px;
		background-color: white;
	}
    #logo img {
        width: 80px;
        height: auto;
        float: left;
    }
   #LogoWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        text-decoration: none;
    }
    
    #back LogoWrap {
    text-decoration: none;  /* a 태그 밑줄 제거 */
   }

    #back LogoWrap button {
        font-size: 17px;
        font-weight: bold;
        padding: 10px 10px;
        margin: 0 5px;
        color: black;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Pretendard', sans-serif;
        background-color: #f0f0f0;
        transition: background-color 0.3s ease;
    }

    #back LogoWrap button:hover {
        background-color: #dcdcdc;
    }
    
    @media screen and (max-width: 480px){
    	#LogoWrap{
    		gap: 20px;
    	}
    }